<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="H.css">
</head>
<body>


<div class="row" style="text-align: center;">
    <form action="action_page.php" style="display: inline-block; text-align: left; padding: 20px 60px;">

        <h1>Cảm ơn Giáo Viên</h1>
        <p>Điền lời cảm ơn</p>
        <hr>
        <label for="email"><b>Tên Phụ huynh</b></label>
        <input type="text" placeholder="Nhập Tên Phụ huynh" name="email" id="" required>

        <label for="psw"><b>Tên cô giáo</b></label>
        <input type="text" placeholder="Nhập tên giáo viên" name="psw" id="psw1" required>

        <label for="psw-repeat"><b>Lời cảm ơn</b></label>
        <input type="text" placeholder="Lời cảm ơn" name="psw-repeat" id="psw-repeat3" required>
        <hr>

        <button type="submit" class="registerbtn">Gửi</button>

    </form>
    <form  action="action_page.php"  style="display: inline-block; text-align: left; padding: 20px 60px;">

        <h1>Nhận xét giáo viên</h1>
        <p>Điền lời Nhận xét</p>
        <hr>
        <label for="email"><b>Tên Phụ huynh</b></label>
        <input type="text" placeholder="Nhập Tên Phụ huynh" name="email" required>

        <label for="psw"><b>Tên cô giáo</b></label>
        <input type="text" placeholder="Nhập tên giáo viên" name="psw"  required>

        <label for="psw-repeat"><b>Lời Nhận xét</b></label>
        <input type="text" placeholder="Lời cảm ơn" name="psw-repeat" id="psw-repeat" required>
        <hr>

        <button   type="submit" class="registerbtn">Gửi</button>

    </form>
    <form  action="action_page.php"  style="display: inline-block; text-align: left; padding: 20px 60px;">

        <h1>Xin nghỉ học</h1>
        <p>Điền form</p>
        <hr>
        <label for="email"><b>Tên Phụ huynh</b></label>
        <input type="text" placeholder="Nhập Tên Phụ huynh" name="email" id="email" required>

        <label for="psw"><b>Tên học sinh</b></label>
        <input type="text" placeholder="Nhập tên học sinh" name="psw" id="psw" required>

        <label for="psw-repeat"><b>Lớp</b></label>
        <input type="text" placeholder="Lớp" name="psw-repeat" id="psw-repeat2" required>
        <label for="psw-repeat"><b>Lý do nghỉ</b></label>
        <input type="text" placeholder="lý do" name="psw-repeat" id="psw-repeat1" required>
        <hr>

        <button type="submit" class="registerbtn">gửi</button>

    </form>
</div>

</body>
</html>